
			<li>
				{{email}}
				<form action = "/deleteUser" method = "POST">
					<input type = "hidden" name = "userId" value = {{id}}> <!-- ATTENTION; MODIFY ACCORDINGLY -->
					<button type = "submit">Delete</button>
				</form>
			</li>