<li>
    <span>{{first_name}} {{last_name}}</span>
    <form action = "/profile" method = "GET">
        <input type = "hidden" name = "id" value = {{id}}>
        <button type = "submit">Visit</button>
    </form>
</li>