<li>
    <span>{{last_name}}, {{first_name}}</span>
    <form action = "/profile" method = "GET">
        <input type = "hidden" name = "id" value = {{id}}>
        <button type = "submit">Visit</button>
    </form>
</li>