<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
	<title>Home</title>
	<link rel = "stylesheet" href = "/static/css/styles.css">
</head>
<body>
	<form action = "/home" method = "GET">
		<button type = "submit">OnlyFriends</button>
	</form>
	<h1>Welcome to OnlyFriends</h1>
	<p>
		This is a web application where you can connect with your friends. And stuff. Blah blah.
	</p>
	<form action = "/login" method = "GET">
		<button type = "submit">Login</button>
	</form>
	<form action = "/register" method = "GET">
		<button type = "submit">Register</button>
	</form>
</body>
</html>