<body>
	<form action = "/home" method = "GET">
		<button type = "submit">OnlyFriends</button>
	</form>
	<h2>User Registration</h2>
	<form action = "/register" method = "POST" enctype = "multipart/form-data" id="reg">
		<div>
			<label for = "firstName">First Name:</label>
			<input type = "text" id = "fisrtName" name = "firstName" required>
		</div>
		<div>
			<label for = "lastName">Last Name:</label>
			<input type = "text" id = "lastName" name = "lastName" required>
		</div>
		<div>
			<label for = "email">Email:</label>
			<input type = "email" id = "email" name = "email" required>
		</div>
		<div>
			<label for = "phoneNumber">Phone Number:</label>
			<input type = "tel" id = "phoneNumber" name = "phoneNumber" required>
		</div>
		<div>
			<label for = "profilePhoto">Profile Photo:</label>
			<input type = "file" id = "profilePhoto" name = "profilePhoto" accept = "image/*">
		</div>
		<div>
			<label for = "password">Password:</label>
			<input type = "password" id = "password" name = "password" required>
		</div>
		<div>
			{{!-- <label for = "userJSON">User Data (JSON):</label>
			<input type = "file" id = "userJSON" name = "userJSON" accept = "application/json"> --}}
		</div>

		<!-- someone pls center this VVV -->
		{{#if error}}
		<span class="error" id="error">{{error}}</span>
		{{/if}}
		<button type = "submit" id="regbtn">Register</button>
	</form>
	<form action = "/login" method = "GET">
		<button type = "submit">Already registered? Login.</button>
	</form>
</body>