<body>
	<form action = "/home" method = "GET">
		<button type = "submit">OnlyFriends</button>
	</form>
	{{#if poked}}
	<div class = "banner">
		You've been poked by the admin.
		<form action = "/confirmPoke" method = "POST">
			<button type = "submit">Confirm</button>
		</form>
	</div>
	{{/if}}
	<h1>Hello, {{first_name}}!</h1>
	<h2>User Dashboard</h2>
	<div>
		<h3>Friends</h3>
		<ul id = "friendsList"> <!-- ATTENTION; TAKE NOTE  -->
			<li>
				Friend 1
				<form action = "/viewProfile" method = "GET">
					<input type = "hidden" name = "userId" value = "1">
					<button type = "submit">Visit</button>
				</form>
			</li>
			<li>
				Friend 2
				<form action = "/viewProfile" method = "GET">
					<input type = "hidden" name = "userId" value = "2">
					<button type = "submit">Visit</button>
				</form>
			</li>
		</ul>
	</div>
	<div>
		<h3>Wanna meet new people?</h3>
		<ul id = "strangersList"> <!-- ATTENTION; TAKE NOTE  -->
			<li>
				Stranger 1
				<form action = "/viewProfile" method = "GET"> <!-- ATTENTION -->
					<input type = "hidden" name = "userId" value = "3"> <!-- ATTENTION -->
					<button type = "submit">Visit</button>
				</form>
			</li>
			<li>
				Stranger 2
				<form action = "/viewProfile" method = "GET"> <!-- ATTENTION -->
					<input type = "hidden" name = "userId" value = "4"> <!-- ATTENTION -->
					<button type = "submit">Visit</button>
				</form>
			</li>
		</ul>
	</div>
	<form action = "/profile" method = "GET">
		<button type = "submit">View Own Profile</button>
	</form>
	<form action = "/settings" method = "GET">
		<button type = "submit">Settings</button>
	</form>
	<form action = "/logout" method = "POST">
		<button type = "submit">Logout</button>
	</form>
</body>